html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: #262626;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

*:focus {
    outline: none !important;
}

*:active {
    -webkit-tap-highlight-color: transparent;
    /* Для WebKit браузеров */
    outline: none;
    /* Убираем контур */
}

img {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.header-center div {
    z-index: 3;
}

/* Loading Page----------------------------------------- */


.spinnerContainer {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Занимает всю высоту экрана */
    width: 100%;
    /* Занимает всю доступную ширину */
    background-color: rgb(0, 0, 0);
    /* Полупрозрачный фон */
    position: fixed;
    /* Фиксированное положение */
    top: 0;
    left: 0;
    z-index: 9999;
    /* Помещаем поверх всего остального контента */
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #299fff;
    animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
}

.spinner::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes tri-spinner {
    100% {
        transform: rotate(1turn);
    }
}

.loader {
    color: #4a4a4a;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}

.words {
    overflow: hidden;
    position: relative;
    top: 27px;
}

.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #299fff;
    animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
    10% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }

    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    35% {
        -webkit-transform: translateY(-205%);
        transform: translateY(-205%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-305%);
        transform: translateY(-305%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-405%);
        transform: translateY(-405%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}

/* --------------------------------------------------------------------------------------------------- */

.go-to-link-branch {
    text-decoration: none;
    color: #ff4200;
    font-weight: bold;
}

.go-to-link-branch:hover {
    transition: 1s;
    color: #fff;
}